*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lfloaters{
    background-color: black;
    color: white;
    float: left;
    height: 100%;
    position: fixed;
    display: inline-block;
    width: 300px;
}
#rfloaters{
    background-color: black;
    color: white;
     float: right; 
    height: 100%;
     position: fixed; 
    display: inline-block;
    width: 300px;
        margin-left: 1200px;
        margin-top: -1423px;


 }
.navigators{
    color: rgb(219, 200, 200);
    font-size: 1.2em;
    font-family: sans-serif;
    margin-left: 10px;
    display: block;
    height: 300px;




}
#hr{
    width: 200px;
    margin-right: 30px;
    margin-left:30px ;
}
#a{
    color: white;
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    
    
}
.lists{
    margin-left: 40px;
    margin-top: 40px;


}
#muse{
    margin-top: 30px;
    width: 40px;
    font-size: 1.2em;
    font-family: sans-serif;
    
}
#fas{
    margin-left: 20px;
    
}
.home{
    margin-left: 300px;
    background:linear-gradient(to bottom,rgb(11, 11, 143),black,black);
    color: white;
    margin-right: 316px;
    width: 900px;
    
}
.bro{
    display: flex;
    font-size: 1.2em;
    width: 100%;
    
    



}
.i{
    margin-left: 40px;
    color: white;
}
.user{
    margin-left: 500px;
}
#up{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(77, 73, 73);
    color: white;
    border: solid springgreen;

}
.homeimage{
    margin-top: 50px;
    background-image:  url("billie.jpg") ;
    height: 300px;
    width: 800px;
    margin-left: 50px;
    border-radius: 20px;
    
    
}
#gd{
    margin-left: 50px;
    font-size: 1.8em;
    font-family: sans-serif;
    margin-top: 20px;

}
.pops{
    display: flex;
    width: 800px;
    
    
}
.new{
    margin-left: 40px;
    display: block;
    
}
#new{
    height: 80px;
    width: 250px;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(73, 70, 70);
    border-radius: 10px;
    display: flex;
    
    
    
}
#img{
    height: 100%;
    width:80px ;
    float: left;
    border-radius: 5px;
}
#gh{
    margin-top: 30px;
    font-size: 1.2em;
    font-family: sans-serif;
    font-weight: bold;
    
}
#go{
    margin-left: 50px;
    font-size: 1.8em;
    font-family: sans-serif;
    margin-top: 20px;

}
.madefor{
    display: flex;
    margin-left: 50px;
    margin-top: 20px;

    width: 700px;
}
.mkd{
    width: 230px;
    height: 300px;
    background-color: rgb(39, 38, 38);
    margin-left: 10px;
    align-items: center;
    border-radius: 10px;
}
#koh{
    width:170px ;
    height: 150px;
    border-radius: 1px;
    margin-left: 5px;
    margin-top: 20px;
}
h4{
    margin-left: 40px;
    font-size: 1.2em;
    font-family: sans-serif;
}
p{
    margin-left: 20px;
    font-family: sans-serif;
}
#you{
    margin-left: 50px;
    font-size: 1.8em;
    font-family: sans-serif;
    margin-top: 20px;
    
}
#act{
    margin-left: 30px;
    font-size: 1.4em;
    font-family: sans-serif;
    padding: 20px;

}
.text{
    font-size: 0.9em;

}
.friend{
    display: inline-block;
    align-items: center;
}
#j{
    height: 60px;
    margin-left: 30px;
    background-color: rgb(44, 43, 43);
    margin-top: 20px;
    border-radius: 20px;
    width: 260px;

    
}
#l{
    margin-left: 90px;
    margin-top: -40px;
    
}
#set{
    width: 180px;
    height: 50px;
    border-radius: 30px;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 1em;
   
    
}
#us{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
}
#fas{
    font-size: 1.8em;
}
#jk{
    font-size: 1.8em;
    color: white;
    
}
#gm{
    margin-top: -20px;
    font-size: 0.8em;
    font-family: monospace;
    
    
}
#lala{
    margin-top: 20px;
}
   /* ********************* effects*************************** */

#a:hover{
    color:rgb(17, 255, 17);
    transform: scale(1.03);
    transition: all 0.3s ease;
    cursor: pointer;
}
#muse:hover{
    color: white;
    cursor: pointer;
    

}
#jk:hover{
    transform: scale(1.2);
    transition: all 0.3s ease;
    color: rgba(52, 199, 52, 0.781);

}
#up:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.mkd:hover{
    color:white;
    background-color: rgb(51, 46, 46);
    transform: scale(1.1);
    transition: all 0.3s ease;


}
.play{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(24, 255, 24);
    margin-left: 15px;
    display: none;
    align-items: center;
}
#new:hover{
    background-color: rgb(51, 50, 50);
    transition: all 0.3s ease;
}
#new:hover>.play{
display: block;
margin-right: 5px;
margin-top: 10px;
cursor: pointer;
transform-origin: 40%;
transition: all 5s ease;

}
.play>i{
    margin-top: 7px;
    margin-left: 4px;
    color: black;
    transition: all 0.3s ease;

}
#set:hover{
    transform: scale(1.07);
    transition: all 0.3s ease;
}
.mkd:hover{
    background-color:rgb(51, 46, 46) 

}
 


 